<h1>Listing people</h1>
 
 <p>
	Reorder by <%= link_to 'name', reorder_people_path, :method => :post %>
 </p>
 
<%= content_tag "ul", id: "sortable", data: {sorting_url: "#{sort_people_path}"} do %>

	<%= render @people %>

<% end %>
 
<br />

<%= link_to 'New Person', new_person_path %>
