<h1>Listing people</h1>
 
 <p>
	Reorder by <%= link_to 'name', reorder_people_path, :method => :post %>
 </p>
 
<%= render :partial => 'sortable/list', :locals => {:sortable => @people, :sort_path => "#{sort_people_path}"} %>
 
<br />

<%= link_to 'New Person', new_person_path %>
