<h1>Listing animals</h1>

<p>
	Reorder by <%= link_to 'name', reorder_animals_path, :method => :post %>
</p>
 
<%= content_tag "ul", id: "sortable", data: {sorting_url: "#{sort_animals_path}"} do %>

	<%= render @animals %>

<% end %>
 

<br />

<%= link_to 'New Animal', new_animal_path %>
